<h1>イベント作成</h1>
<%= form_for(@event) do |f| %>

  <h4>タイトル</h4>
  <%= f.text_field :title, placeholder: "（例）練習、試合など" %>

  <h4>場所</h4>
  <%= f.text_field :place %>

  <h4>開始時間</h4>
  <%= f.datetime_field :start %>
  <h4>終了時間</h4>
  <%= f.datetime_field :end %>


  <h4>詳細</h4>
  <%= f.text_field :body %>

  <%= f.submit '登録' %>

<% end %>