<div class="col-xs-2 col-xs-offset-1">
<div class="left-button"></div>
<h4 class="rooms-title"> ルーム内ユーザー</h4>
<% @entries.each do |e| %>
  <div class="user-name">
    <strong>
      <%= attachment_image_tag(e.user, :profile_image_id, :fill, 50, 50, fallback: "no_image.jpg") %>
      <a class="rooms-user-link" href="/users/<%= e.user.id %>">
        <%= e.user.nickname %>
      </a>
    </strong>
  </div>
<% end %>
<hr/>
</div>
<div class="col-xs-8">
  <h4>メッセージ</h4>
    <div class="chats">
      <div class="chat__scroll">
        <% if @messages.present? %>
          <% @messages.each do |m| %>
            <div id="message_<%= m.id %>">
              <div class="chatbox">
                <div class="chat-face1">
                  <%= attachment_image_tag(m.user, :profile_image_id, :fill, 50, 50, fallback: "no_image.jpg") %>
                  <div class="chat-hukidashi"></div>
                  <%= m.user.nickname %>
                  <%= m.message %>
                  <%= m.created_at.strftime("%Y-%m-%d %H:%M") %>
                  <h4>フォーム</h4>
                  <%= form_with(model: @message, url: message_path(m.id), remote: true, method: :delete) do |f| %>
                    <%= f.hidden_field :room_id, value: @room.id %>
                    <%= f.submit "削除" %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
       <% end %>
      </div>
    </div>
</div>