<!DOCTYPE html>
<html>
  <head>
    <title>BubbleBall</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if admin_signed_in? %>
      <header class="admin_header">
        <div class="header-content">
          <%= link_to admin_top_path do %>
            <%= image_tag 'logo.png', class: "logo" %>
          <% end %>
          <ul class="flex">
            <li><%= link_to '会員一覧', admin_users_path %></li>
            <li><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete %></li>
          </ul>
          <%= form_tag(admin_search_path, method: :get) do %>
            <%= text_field_tag "search[content]", "", :placeholder =>"会員: 姓,名,セイ,メイ / 商品: 商品名" %>
            <%= select_tag "search[model]", options_for_select({ "会員" => "customer", "商品" => "item" }) %>
            <%= select_tag "search[method]", options_for_select({ "部分一致" => "partial", "前方一致" => "forward", "後方一致" => "backward", "完全一致" => "perfect" }) %>
            <%= submit_tag '検索', class: "btn btn-primary" %>
          <% end %>
        </div>
      </header>
    <% elsif user_signed_in? %>
      <header>
        <div class="header">
          <%= link_to root_path do %>
            <%= image_tag 'logo.png', class: "logo" %>
          <% end %>
            <p>ようこそ、<%= current_user.nickname %>さん!</p>
            <div class="btn-group">
              <li class="btn btn-default"><%= link_to 'About', about_path, class: 'nav-link' %></li>
              <li class="btn btn-default"><%= link_to 'マイページ', mypage_path, class: 'nav-link' %></li>
              <li class="btn btn-default"><%= link_to 'ユーザー一覧', users_path, class: 'nav-link' %></li>
              <li class="btn btn-default"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'nav-link' %></li>
          </div>
        </div>
      </header>
    <% else %>
      <header>
        <div class="header">
          <%= link_to root_path do %>
            <%= image_tag 'logo.png', class: "logo" %>
          <% end %>
          <div class="btn-group">
            <li class="btn btn-default"><%= link_to 'About', about_path, class: 'nav-link' %></li>
            <li class="btn btn-default"><%= link_to '新規登録', new_user_registration_path, class: 'nav-link' %></li>
            <li class="btn btn-default"><%= link_to 'ログイン', new_user_session_path, class: 'nav-link' %></li>
          </div>
        </div>
      </header>
    <% end %>

  <body>

    <%= yield %>


  <footer class="footer">
  <div class="container">
        <p class="footer-text">CopyRight ogi</p>
    </div>
</footer>

  </body>
</html>
